
@model WebApplication1.ViewModels.CustomerViewModels
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
@if (Model.CustomerList.Count == 0)
{
    <text>There are no customers atm. </text>
}
else
{

    <table class="table table-­bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.CustomerList)
            {
                <tr><th scope="row">@Html.ActionLink(customer.Name, String.Format("detail/{0}", customer.Id), "Customer")</th></tr>
            }
        </tbody>
        </table>
}
